.container {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}

.navbar {
  background-color: #f4f4f9;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin-bottom: 40px;
}

.navbar h1 {
  margin-left: 100px;
  color: #333;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar h1:hover {
  color: #4e4e4e;
}

.navbar a {
  text-decoration: none;
}

.logout {
  margin-left: 930px;
  cursor: pointer;
  padding: 14px;
  width: 120px;
  margin-right: 70px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  background: #ad2dca;
  border: none;
  font-weight: bold;
  transition: all 0.3s;
}

.langSelect {
  margin-left: 820px;
  position: absolute;
  top: 20px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.logout:hover {
  background: #8c23a4;
}

.userPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}


form {
  position: absolute;
  padding: 20px;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 400px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  font-weight: 450;
  margin-bottom: 5px;
  text-align: left;
  font-size: 16px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: #ccc;
}

.save {
  cursor: pointer;
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  background: #ad2dca;
  border: none;
  font-weight: bold;
  transition: all 0.3s;
}

.save:hover {
  background-color: #8c23a4;
}
.cards {
  margin-top: 620px; /* Kichikroq bo'shliq */
  display: flex;
  flex-wrap: wrap;
  margin-left: 120px;
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 40px; /* Cardlarni chap tarafga joylashtirish */
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 250px; /* Card hajmini kichraytirish */
  text-align: left; /* Matnni chapdan boshlash */
  border: 1px solid #ddd;
  position: relative;
}

.cardImage {
  width: 100%; /* Image kengligini cardga moslashtirish */
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3,
.card p {
  margin: 0;
  font-size: 16px; /* Kichikroq matn hajmi */
  color: #333;
}

.card p {
  margin: 5px 0;
}

.deleteButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.deleteIcon {
  width: 20px;
  height: 20px;
  fill: #c4c4c4;
}

.deleteButton:hover .deleteIcon {
  fill: #dfdede;
}
